/* body properties */
body {
    background-color: #130831; /* set your preferred background color */
    background-image: url('');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ccc3c8; /* set your preferred text color */
}

/* nav properties */
nav {
    height: 800px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
#media_display {
    margin-left: 600px;
}
/* footer properties */
footer {
    text-align: center;
    margin-right: 200px;
}

/* header properties */
header {
    text-align: center;
}

#dvd_icon {
    height: 100px;
    width: 100px;
    position: absolute;
}
#playerHand{
    text-align: left;
}
#dealerHand{
    text-align: right;
}