/*sets the default background color and text color */
body {
    background-color: #421442; /* set your preferred background color */
    background-image: url('');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e4d1db; /* set your preferred text color */
    text-align: center;
}
/*sets the header text color, font, alignment, underline, and outerglow */
h1 {
    color: #420202;
    text-align: center;
    font-size: 72px;
    text-decoration: underline;
    text-decoration-thickness: 15px;
    text-shadow:0 0 4px palevioletred;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
/*pads to the left to make room on the screen, underlines the section headers, and changes font sizes for readability */
h2 {
    font-size: 36px;
    text-decoration: underline;
    text-shadow: black 3px 3px;
}
h3{
    font-size: 24px;
    padding-left: 25%;
    text-decoration-line: underline;
}
p{
    font-size: 18px;
    padding-left: 20%;
    text-align: left;
}
p1{
    font-size: 24px;
    font-family: 'Lucida Grande';
    text-align: center;
    color: black;
    text-shadow: white 2px 2px;
}
/*these should be redundent, but i aint deleting them to find out, so until i want to change them to not be inline with everything else, they stay this way */
#media-display {
    text-align: center;
}
#mediaDropdown {
    text-align: center;
}
#arrivederci {
    text-align: center;
}
/*this one actually just makes the picture small enough to fit on the screen. */
#ocean_picture{
    width: 150px;
    height: 150px;
}




/*other stuff i copied from old code that i will likely use later */
/* nav properties */
nav {
    height: 800px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

/* footer properties */
footer {
    text-align: center;
}

/* header properties */
header {
    text-align: center;
}