/* body properties */
body {
    background-color: #130413; /* set your preferred background color */
    background-image: url('');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ccc3c8; /* set your preferred text color */
}

/* nav properties */
nav {
    height: 800px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
#media_display {
    margin-left: 600px;
}
/* footer properties */
footer {
    text-align: center;
    margin-right: 200px;
}

/* header properties */
header {
    text-align: center;
}

#dvd_icon {
    height: 100px;
    width: 100px;
    position: absolute;
}
#playerHand{
    text-align: left;
}
#dealerHand{
    text-align: right;
}
table{
    width: 70%;
    border-collapse: collapse; 
}
th,td{
    border: 3px solid palevioletred;
    text-align: left;
    padding: 8px;
}
#media-display{
    text-align: center;
}
#Play,#Stop{
    text-align: center;
}

/* menu styles */
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
nav ul il{
    margin-bottom: 10px;
    text-align: center;

}
nav ul li a{
    text-decoration: none;
    background-color: #1f0e15;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3 ease;
}
nav ul li a:hover{
    background-color: aqua;
}
nav ul li a.active{
    background-color: darkcyan;
}

/*my art on the front page */
